<div style="width: 600px; padding-top: 10em; margin:auto">
    <h1 align="center">Welcome to the //Amusement Park!</h1>
    <img style="width: 600px; border-radius: 1em" src="https://www.sheknows.com/wp-content/uploads/2018/08/jsic7u9d7iovxrgx5qqy.jpeg">
</div>
